# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/

# Editor files
.vscode/
.idea/

# OS files
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Home Assistant specific
*.storage/
home-assistant.log
home-assistant_v2.db

